{% extends 'base.html' %} 

{% block content %} 



{% if request.user.is_authenticated %}
<style>
    .user-info{
        display: flex;
        gap: 10px;
        width: fit-content;
        margin: 0 auto;
        padding: 10px;
        font-size: 25px;
        font-weight: bold;
    }
    .user-info div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
    }

    .logout{
        width: fit-content;
        margin: 10px auto;
        padding: 10px;
        background-color: rgb(239, 4, 157);
        color: white;
        border-radius: 10px;
        text-decoration: none;
        display: block;
    }
</style>
<div class="user-info">
<div class="context">
    <span>Phone:</span>
    <span>Name:</span>
    <span>Email:</span>
</div>
<div class="data">
    <span>{{request.user.phone}}</span>
    <span>{{request.user.name}}</span>
    <span>{{request.user.email}}</span>
</div>
</div> 


    <a class="logout" href="{% url 'logout' %}">Logout</a>



{% else %} 

<style>
    .sign-in{
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;
        font-weight: bold;
        justify-content: center;
    }
    .sign-in a{
        padding: 10px;
        background-color: rgb(239, 4, 157);
        color: white;
        border-radius: 10px;
        text-decoration: none;
    }
</style>

<div class="sign-in">
    <span>Login to your account</span>
    <a href="{% url 'login' %}">Login</a>
</div>


{% endif %}


{% endblock content %}