{% extends 'base.html' %} 


{% block content %} 

<div class="bill">
    <span class="bill-head">Final Booking details</span>
    <div class="hotel-info">
        <div class="hotel-data">
            <span class="hotel-name">{{bill.hotel.hotel_name}}</span>
            <p class="hotel-add">{{bill.hotel.address}}</p>
        </div>
        <div class="hotel-img">
            <img src="{{bill.hotel.poster.url}}" alt="">
        </div>
        
    </div>
    <div class="billing-time">
        <div>
        <p>Check in date </p>
        <p>Check in  time</p>
        <p>Check out  time</p></div>

        <div>
            <p>{{bill.date}}</p><p>{{bill.time_from}}</p><p>{{bill.time_to}}</p>
        </div>
    </div>
    <p class="payment-head" style="text-align: center;">Payment Details</p>
    <div class="payment-details">
        
        <div class="payement-context">
            <span>Price -</span>
            <span>Discount -</span>
            <span>Deal Price -</span>
            <span>GST -</span>
            <span>Amount to Pay -</span>
        </div>
        <div class="payment-data">
            <span>₹{{max_price}}</span>
            <span>-₹{{discount}}</span>
            <span>₹{{price}}</span>
            <span>+%12</span>
            <span>₹{{total_price}}</span>
        </div>
    </div>
</div>


{% endblock content %}