{% extends 'base.html' %}

{% block content %}
<div class="index-banner">

</div>

<div class="tagline-1">
    <h3>
        Rates Aise Jo hosh uda dein Starting From Just 149rs/hr
    </h3>
</div>

<form method="GET" action="hotels">
    <div class="form-div">
        <label for="">Destination</label>
        <input title="Enter Your Designation" type="text" placeholder="Search For city, hotel or location" required name="designation">
        <hr>
        <div>
            <div><label for="">Date</label>
                <input title="Select Date" type="date" required name="date">
            </div>
            <hr>
            <div><label for="">Time</label>
                <input title="Select Time" type="time" required name="time">
            </div>
        </div>
    </div>
    <input type="submit" value="Search">
</form>

<div class="explore_designation">
    <h3>Kya Yanha Jane Ka Plan hai?</h3>
    <ul>
        {% for item in designation %}
        <li>
            <img src="{{item.image.url}}" alt="">
            <span>{{item.name}}</span>
        </li>
        {% endfor %}
       
   
    </ul>
</div>

<div class="offers">
    
</div>

<div class="subscribe">
    
</div>

{% endblock content %}