.img-gap{
    margin: 300px 0;
}
.slider{
    width:80%;
    height:300px;
    position:absolute;
    left:10%;
    top:80px;
    overflow:hidden;
  }
  .prev{
    position:absolute;
    top:200px;
    left:2.5%;
    cursor:pointer;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .next{
    position:absolute;
    top:200px;
    right:2.5%;
    cursor:pointer;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .transition {
    transition:.5s linear;
  }
  .slide{
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .privacy-text{
    display: none;
  }
  

.hotel_info{
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    font-size: 20px;
    margin: 10px 0;
    width: 50%;
}

.time-asking{
    margin: 10px 0;
}

.time-rate{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.time-span{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 3px;
}

.time-span p{
    background-color: rgb(217, 217, 217);
    padding: 10px;
}

.time-span span{
    font-weight: bold;
}

.time-selected{
    border: 2px solid black;
    border-radius: 5px;
}

.guest-count{
    margin: 30px 0;
}

.guest-count-div{
    border: 1px solid rgba(128, 128, 128, 0.498);
    border-radius:  0 0 10px 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.guest-count-div div{
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
    font-weight: bold;
    align-items: center;
}

.guest-count-div div input{
    font-size: 17px;
    width: 40px;
    text-align: center;
    padding: 10px;
    background-color: rgb(217, 217, 217);
    border: none;
    font-weight: bold;
}

.submit-btn{
    background-color: rgb(239, 9, 159);
    color: white;
    padding: 5px;
    font-size: 20px;
    border: 1px solid rgba(135, 135, 135, 0.501);
    border-radius: 5px;
    width: fit-content;
    margin: 10px auto;
    display: block;
}


.discription p{
    margin: 10px 0 30px 0;
    border: 1px solid rgba(128, 128, 128, 0.498);
    border-radius: 0 0 10px 10px;
    padding: 10px;

}

.amenities{
    margin: 10px 0;
    border: 1px solid rgba(128, 128, 128, 0.498);
    padding: 20px 10px;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
    font-style: italic;

}

.amenities div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nearby{
    margin: 40px 0 20px 0;
}

.nearby-div{
    border: 1px solid rgba(128, 128, 128, 0.498);
    border-radius: 0 0 10px 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nearby-div div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.contact-now{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 0 20px;
    font-weight: bold;
    align-items: center;
}

.contact-now a{
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid rgba(128, 128, 128, 0.400);
    padding: 10px;
}

.rate{
    display: none;
}

.rating{
    background: rgb(27, 245, 48);
    display: block;
    color: white;
    font-weight:bold;
    width: fit-content;
    padding: 3px;
    font-size: 15px;
    margin-top: 10px;
}

.mob-form{
    /* display: none; */
}

.large-form{
    position: absolute;
    right: 50px;
    border: 1px solid rgba(128, 128, 128, 0.541);
    width: 40%;
}

.date-and-time{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 0 10px;
}

.date-and-time span{
    width: 50%;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.48);
    text-align: center;
}
.large-time-asking>p{
    background-color: rgb(239, 9, 159);
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    margin-bottom: 15px;
}.large-rates{
    display: flex;
}


@media screen and (max-width: 768px){
    .privacy-text{
        display: flex;
    }
    .hotel_info{
        width: 100%;
    }
    .rate{
        display: flex;
    }.rating{
        display: none;
    }.large-form{
        /* display: none; */
        position: relative;
        right: 0;
        width: 100%;
        border: none;
    }.large-time-asking>p{
        background-color: white;
        color: black;
        text-align: left;
        font-size: 20px;
        padding: 10px 0 5px 0;
        font-weight: bolder;
    }.large-rates{
        display: none;
    }.date-and-time{
        display: none;
    }.select-checkout-text{
        display: none;
    }
}

    
